header {
    background-color: bisque;
}
header a {
    background-color: cadetblue;
}
section {
    background-color: cadetblue;
}
section h1 {
    background-color: bisque;
}
section p {
    background-color: bisque;
}
main{
    background-color: cadetblue;  
}
section h2 {
    background-color: bisque;
}
section h4 {
    background-color: bisque;
}
aside {
    background-color: bisque;
    
}
aside nav {
    background-color: bisque;
}
aside a {
    background-color: cadetblue;
}
aside h4 {
    background-color: cadetblue;
}
footer {
    background-color: cadetblue;
}
footer h3 {
    background-color: bisque;
}
footer p {
    background-color: bisque;
}
body {
    background-color:cadetblue;
}
div {
    background-color: bisque; 
}


